version: '3.4'

services:
  api:
    build: ./bee_build
    image: ${SERVICE_NAME}
    container_name: ${SERVICE_NAME}
    volumes:
      - gosrc:/go
      - .:/go/src/${API_BASE_DIR}/${API_NAME}
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    environment:
      - CONFIGURACION_API_HTTP_PORT=${PORT}
      - CONFIGURACION_API_DB_USER=${CONFIGURACION_API_DB_USER}
      - CONFIGURACION_API_DB_PASS=${CONFIGURACION_API_DB_PASS}
      - CONFIGURACION_API_DB_URL=${CONFIGURACION_API_DB_URL}
      - CONFIGURACION_API_DB_NAME=${CONFIGURACION_API_DB_NAME}
      - CONFIGURACION_API_DB_SCHEMA=${CONFIGURACION_API_DB_SCHEMA}
    command: sh -c 'cd ${API_BASE_DIR}/${API_NAME};go get -v -u ./...; bee run -downdoc=true -gendoc=true'
    networks:
      - back_end

volumes:
  gosrc:
networks:
  back_end:
    external: true
